@media (max-width: 1440px) {
    .invoice-record {
        padding: 50px 70px;
    }

    .custom-pakages li p {
        font-size: 14px;
    }

    .custom-pakages li span {
        font-size: 14px;
    }

    .custom-pakages {
        width: 40%;
    }

    .billings-info h3 {
        font-size: 15px;
    }

    .card-payment label {
        font-size: 14px;
    }

    .card-payment select {
        font-size: 13px;
    }

    .card-payment input {
        font-size: 13px;
    }

    .billing-pay-btn .pay-btn {
        padding: 8px 0;
        font-size: 15px;
    }
}

@media (max-width: 1199px) {

    .invoice-record {
        padding: 50px 40px;
    }

    .writer-logo img {
        width: 52%;
    }

    .invoice-number p {
        font-size: 15px;
    }

    .custom-pakages {
        width: 50%;
    }

    .fill-summry label {
        font-size: 13px;
    }

    .custom-pakages li p {
        font-size: 13px;
    }

    .custom-pakages li span {
        font-size: 12px;
    }

    .pakages-summry ul:first-child li span .book-btn-market {
        padding: 2px 15px;
        font-size: 14px;
    }

    .card-payment input {
        height: 30px;
    }

    .card-payment select {
        padding: 4px 8px;
        font-size: 12px;
    }

    .search-here input {
        width: 300px;
    }
}


@media (max-width: 991px) {

    .search-here input {
        width: 250px;
        font-size: 14px;
    }

    .search-here i {
        top: 11px;
        font-size: 13px;
    }

    .profile-dropdown a {
        font-size: 13px;
    }

    .profile-dropdown a img {
        width: 35px;
        height: 35px;
    }

    .invoice-number p {
        font-size: 12px;
    }

    .pakages-summry {
        display: block;
    }

    .custom-pakages {
        width: 100%;
    }

    .custom-pakages li p {
        width: 32%;
    }

    .billings-info {
        padding: 12px;
        margin-top: 80px;
    }

    .fill-summry input {
        height: 25px;
    }

    .fill-summry label {
        margin-top: 12px;
    }

    .billings-info h3 {
        font-size: 12px;
    }

    .card-payment label {
        font-size: 10px;
    }

    .card-payment {
        padding-bottom: 0;

    }

    .card-payment input {
        height: 25px;
    }

    .card-payment select {
        padding: 5px 5px;
        font-size: 9px;
    }

    .profile-dropdown ul {
        top: 40px;
    }
}

@media (max-width: 767px) {
    .main-invoice {
        display: block;
    }

    .summry-form {
        width: 100%;
    }

    .billings-info {
        width: 100%;
        margin-top: 25px;
    }

    .invoice-record {
        padding: 25px 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .custom-pakages li p {
        font-size: 15px;
    }

    .custom-pakages li span {
        font-size: 14px;
    }

    .card-payment label {
        font-size: 14px;
    }

    .card-payment input {
        height: 30px;
        border-radius: 5px;
        margin-bottom: 8px;
    }

    .card-payment select {
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .billings-info h3 {
        font-size: 18px;
    }

    .search-here input {
        width: 130px;
        height: 30px;
        font-size: 12px;
        margin-left: 0;
    }

    .search-here i {
        right: 17px;
    }

    header {
        padding: 10px 10px;
    }

    .profile-dropdown a img {
        width: 30px;
        height: 30px;
    }

    .profile-dropdown ul {
        top: 20px;
        left: 30px;
    }

    .notification-show a img {
        width: 14px;
    }

    .profile-dropdown ul {
        top: 35px;
    }
}


@media (max-width: 575px) {

    .profile-dropdown a {
        font-size: 12px;
        gap: 5px;
    }

    .side-profile {
        gap: 5px;
    }

    .notification-show a {
        width: 20px;
        height: 20px;
    }

    .notification-show a img {
        width: 10px;
    }

    a.navbar-brand img {
        width: 35px;
    }

    .invoice-record {
        width: 100%;
        padding: 25px 15px;
    }

    .search-here i {
        top: 8px;
    }

    .custom-pakages {
        padding-bottom: 0;
    }
}