body {
    font-family: "Funnel Sans", sans-serif;
    background: #e7ebee;
}


.serach {
    display: flex;
    border: 2px solid #e7ebee;
    border-radius: 37px;
    overflow: hidden;
    padding: 0px;
    background: #e7ebee;
    align-items: center;
    height: 42px;
}

.serach input {
    margin: 0px !important;
    border: none;
    background-color: transparent;
    padding: 0px 19px;
}

.serach button {
    border: none;
    padding: 0px 20px;
    color: #8c8f91;
}

.serach .form-control:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

input.form-control.mr-sm-2 {}

.serach button:hover {
    background-color: transparent;
}

.serach-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container {
    max-width: 1190px;
}

.notification a {
    color: #8c8f91;
    background: #e7ebee;
    padding: 10px 15px;
    border-radius: 34px;
}

.custom-navbar div#navbarSupportedContent {
    justify-content: end;
}

header {
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 999;
}

.dropdown.user-name a {
    color: #4c2552;
}

.brand-button ul {
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.brand-button ul li {
    list-style: none;
}

.brand-button ul li a {
    color: black;
    font-size: 17px;
    padding: 10px 27px;
    background: white;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 47px;
    justify-content: start;
    position: relative;
    transition: 0.2s ease;
}

section.brand-1 {
    padding: 5rem 0rem 2rem;
}

.brand-button ul li a img {
    width: 22px;
}

.brand-button ul li a i {
    /* margin-left: 15px; */
    /* position: absolute; */
    /* top: 0px; */
}

.brand-img {
    margin-top: 25px;
}

.brand-img ul {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brand-img ul li {
    list-style: none;
    flex: 0 0 19%;
    background: white;
    padding: 10px 8px;
    border-radius: 10px;
    text-align: center;
    margin: 10px 4px;
    /* justify-content: center; */
}

.brand-img ul {}

.brand-img ul li a img {
    margin-bottom: 13px;
}

.brand-img ul li p {
    display: inline-flex;
    color: #444445;
    font-size: 15px;
    font-weight: 500;
}

.brand-img ul li a img {
    width: 151px;
    height: 75px;
    object-fit: contain;
}

.brand-img ul li a:hover {
    text-decoration: none;
}

.brand-button ul li a:hover {
    text-decoration: none;
}

.brand-dela {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 0px 25px;
    align-items: center;
}

.brand-email {
    display: flex;
    align-items: center;
    gap: 5px;
}

.email a {
    font-size: 17px;
    color: #8c8f91;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 6px;
}

.email a i {
    background: #41a5ee;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    color: white;
}

.email {
    /* padding: 40px 0px; */
    transition: 0.7s ease;
    padding: 47px 10px;
}

.email:hover {
    box-shadow: 1px 1px 31px -20px black;
}

.brand-dela img {
    width: 175px;
    height: 79px;
    object-fit: contain;
}

a:hover {
    text-decoration: none;
}

.up-sell {
    padding: 19px 58px;
    height: 312px;
    box-shadow: 20px 0px 25px -23px lightgray;
}

.up-sell-head {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.bu-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.up-sell-img {
    text-align: center;
}

.up-sell-img img {
    width: 82px;
    height: 70px;
    object-fit: contain;
}

.up-sell-img h2 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -1px;
    margin-top: 10px;
}

section.bu-head-sec {
    margin: 3rem 0rem;
}

.up-sell-img p {
    color: #4c4c4c;
    font-size: 14px;
}

.up-sell {
    /* display: flex; */
    /* align-items: center; */
}

.client-serach-pare {
    display: flex;
    align-items: center;
    padding: 20px 16px;
    background: white;
    gap: 10px;
}

.Search2 {
    display: flex;
    width: 90%;
}

.client-serach-pare p {
    margin: 0px 0px 0px;
    width: 9%;
    font-weight: 600;
}

.Search2 input {
    margin: 0px !important;
    border: none;
    background: #e7ebee;
    border-radius: 7px 0px 0px 7px;
}

.Search2 button {
    border: none;
    background: #41a5ee;
    color: white;
    border-radius: 0px 5px 5px 0px;
    padding: 0px 35px;
}

.up-sell.centess {
    display: flex;
    align-items: center;
}

.up-sell.centess h2 {
    font-size: 22px;
}

.up-sell.centess p {
    font-size: 18px;
}

.up-sell.centess img {
    width: 98px;
    height: 97px;
}

.list-0f-head table {
    /* border: 1px solid black; */
    width: 100%;
    border-left: 1px solid #d9d6d6;
    border-right: 1px solid #d9d6d6;
}

.list-0f-head table th {
    /* border: 1px solid #d9d6d6; */
    padding: 15px 7px;
    border-bottom: 1px solid #d9d6d6;
    border-top: 1px solid #d9d6d6;
}

.progress-done {
    background: linear-gradient(to left, #2c84c5, #3685c1);
    box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
}

.name-img {
    display: flex;
    align-items: center;
    gap: 7px;
}

.name-img img {
    width: 42px;
}

.list-0f-head table td {
    font-size: 15px;
    font-weight: 400;
    padding: 9px 5px;
    border-bottom: 1px solid #d9d6d6;
    border-top: 1px solid #d9d6d6;
    color: #444445;
}

.edit-pare {
    display: flex;
    gap: 6px;
}

.edit-pare a {
    font-size: 15px;
    color: #4c2552;
    background: white;
    width: 30px !important;
    height: 30px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.prog {
    text-align: center;
}

.prog .progress {
    background: #c9c5c1;
    height: 5px;
}

section.list-0f {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.list-0f-head h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}

.list-0f-head {
    background: white;
    border-radius: 10px;
    padding: 20px 12px;
}

.revnue-main {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.revnue-main {}

.revnye-parent {
    background: white;
    padding: 12px 17px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.rev-suv p {
    margin-bottom: 0px;
    color: #606060;
    font-size: 14px;
    font-weight: 500;
}

.rev-suv h3 {
    font-size: 33px;
    font-weight: 700;
    color: black;
    margin-bottom: 0px;
}

.rev-suv span {
    font-size: 12px;
    color: #606060;
}

.rev-bench p {
    margin-bottom: 0px;
    color: #606060;
    font-size: 14px;
    font-weight: 500;
}

.rev-bench h3 {
    color: #059ad2;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
}

.brand-button ul li a:hover {
    background: #3185c3;
    color: white;
}

.prog1 .progress {
    height: 5px;
}

.prog1 .progress p {
    margin: 0px;
}

.prog.prog1 p {
    margin: 0px;
    /* text-align: start; */
    display: flex;
    justify-content: space-between;
}

.prog.prog1 p span {
    /* text-align: end; */
}

section.client-serach.clientpaa {
    margin-top: 25px;
}

td.red {
    color: red !important;
}

td.green {
    color: green !important;
}

.brief-info {
    background: #ffffff;
    padding: 10px 50px;
    margin: 60px 0;
    border-radius: 20px;
}

.brief-info h4 {
    font-size: 16px;
    margin-top: 15px;
    color: #000000;
    font-weight: 400;
}

.brief-info h2 {
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.brief-info form label {
    color: black;
    font-weight: 500;
    font-size: 12px;
}

.brief-info form .form-control {
    border-radius: 20px;
    height: 35px;
}

.brief-info form #textarea {
    height: unset !important;
    margin-bottom: 50px;
}

.formate-select ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    flex-wrap: wrap;
}

.formate-select ul li .selection-formate {
    display: flex;
    align-items: center;
    gap: 10px;
}

.formate-select ul li {
    border: 1px solid #9ca5ab;
    padding: 8px;
    border-radius: 10px;
    width: 16%;
}

.formate-select ul li .selection-formate img {
    width: 45px;
    height: 40px;
}

.formate-select {
    margin-bottom: 15px;
}

.kdp-formate {
    display: flex;
    align-items: center;
    gap: 5px;
}

.kdp-formate label {
    margin: 0;
}

.brief-bttn .brief-btn {
    background: #01abea;
    border-radius: 20px;
    font-size: 13px;
    padding: 5px 25px;
    color: white;
    font-weight: 300;
}

.brief-bttn {
    margin-top: 10px;
    margin-bottom: 100px;
}

.grline {
    background: #31b126;
    width: 80% !important;
}

.rdline {
    width: 20%;
    background: #e53304;
    opacity: 1;
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
    pointer-events: none;
}

.profile-info {
    background: white;
    padding: 60px;
    margin: 50px 0;
    border-radius: 20px;
    padding-bottom: 0;
}

.profile-img {
    text-align: center;
    margin-top: 50px;
}

.profile-img h6 {
    font-size: 18px;
    font-weight: 400;
}

.profile-img img {
    margin: 20px 0;
    width: 140px;
}

.file-upload .dropify-wrapper p {
    font-size: 16px !important;
    font-weight: 300 !important;
    color: #01abea !important;
}

.file-upload .dropify-wrapper span.file-icon:before {
    color: #01abea !important;
}

.file-upload .dropify-wrapper {
    border: 2px #01abea dashed;
    border-radius: 15px;
    margin-bottom: 10px;
}

.file-upload span {
    color: black;
    font-weight: 400;
    font-size: 20px;
}

.browsw-img label {
    border-radius: 20px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 40%;
    margin-top: 20px;
}

.browsw-img label span {
    color: white;
    font-size: 14px;
}

.profile-details h4 {
    color: black;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.profile-details label {
    color: black;
    font-weight: 300;
    font-size: 13px;
}

.profile-details input {
    border-radius: 30px;
    height: 35px;
    font-size: 12px;
}

.profile-details {
    padding-left: 20px;
    border-left: 2px dashed #e3e6e8;
    padding-top: 50px;
}

.invoice-porfile-detail {
    background: white;
    padding: 30px 60px;
    margin: 50px 0;
    border-radius: 20px;
}

.invoice-show h5 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.issued-invoice {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
}

.invoice-show p {
    color: #8a8a8a;
    font-size: 15px;
}

.view-invoice {
    display: flex;
    gap: 10px;
}

.view-invoice img {
    width: 18px;
    height: 13px;
}

.invoice-summary h5 {
    font-size: 16px;
    color: #8a8a8a;
    text-transform: uppercase;
    font-weight: 400;
}

.invoice-summary {
    position: relative;
    z-index: 0;
}

.invoice-summary:before {
    position: absolute;
    z-index: 0;
    content: "";
    right: 0;
    top: 10px;
    width: 83%;
    height: 1px;
    background: #c5c5c5;
}

.summry-info ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.summry-info li {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.summry-info li p {
    margin: 0;
    width: 83%;
    margin-left: auto;
    color: black;
    font-weight: 700;
    font-size: 14px;
}

.summry-info li span {
    color: #6c6c6d;
    font-weight: 500;
    font-size: 15px;
}

.summry-info li p span {
    margin-left: 10px;
    font-size: 13px;
}

.summry-info li h6 {
    /* width: 83%; */
    margin-left: 40px;
    background: #f1f1f1;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 30px;
    font-size: 12px;
    color: black;
    font-weight: 600;
}

.cost-down {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #c5c5c5;
}

.cost-down ul {
    list-style: none;
    padding: 0 15px;
    border: 1px solid #e2e2e2;
    padding-bottom: 40px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cost-down h6 {
    background: #059bd4;
    padding: 10px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cost-down ul li h5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px 0;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 0;
    border-bottom: 1px solid #e2e2e2;
}

.total-ammount {
    border: 1px solid #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}

.total-ammount h5 {
    font-size: 15px;
    margin: 0;
    font-weight: 500;
}

.details-info ul {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.details-info ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
    gap: 18px;
}

.details-info ul li img {
    width: 16px;
}

.details-info ul li h6 {
    font-size: 12px;
    color: black;
    font-weight: 600;
}

.invoice-created ul {
    padding: 0;
    list-style: none;
    padding-left: 20px;
}

.invoice-created ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 0;
}

.invoice-created ul li p {
    font-size: 14px;
    color: #a6a6a6;
}

.invoice-created ul li span {
    font-size: 13px;
    color: #a6a6a6;
}

.invoice-created ul li:last-child p {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.invoice-created ul li:last-child span {
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.invoice-button button {
    width: 100%;
    background: #b4e1f2;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
    color: black;
    border-radius: 5px;
}

.invoice-button button img {
    width: 17px;
}

.invoice-detail-chart {
    border: 1px solid #d2d2d2;
    padding: 30px;
    padding-bottom: 90px;
    border-radius: 5px;
    margin-top: 20px;
}

.invoice-created ul li:before {
    position: absolute;
    z-index: 0;
    content: "";
    left: -20px;
    top: 8px;
    background: #eeeeee;
    border-radius: 60%;
    height: 10px;
    width: 10px;
}

.invoice-created ul li:last-child:before {
    background-color: #059bd4;
}

.invoice-created ul li:first-child:after {
    display: none;
}

.invoice-created ul li:after {
    position: absolute;
    z-index: 0;
    content: "";
    left: -16px;
    top: -19px;
    background: #eeeeee;
    border-radius: 60%;
    height: 30px;
    width: 1px;
}

.payment-dropdown select {
    background: #f1f3f4;
    padding: 4px 10px;
    border-radius: 5px;
    color: black;
    font-weight: 600;
}

.client-list .prog.prog1 p {
    justify-content: center;
    text-align: center !important;
}

table.client-list .progress-done {
    opacity: 1 !important;
    background: #05d2d0;
    width: 60%;
}










.for-invoice-listing table th {
    background-color: #059bd4;
    color: white;
    padding: 10px 7px;
}

.for-invoice-listing {
    padding: 40px 60px;
}

.for-invoice-listing table td a {
    color: black;
    background-color: #f1f3f4;
    padding: 6px 25px;
    font-size: 13px;
    border-radius: 3px;
    font-weight: 500;
}

.for-invoice-listing table {
    border-bottom: 1px solid #d9d6d6;
}

.for-invoice-listing table td:nth-child(5) {
    text-align: center;
}

.for-invoice-listing table th:nth-child(5) {
    text-align: center;
}

.search-invoice {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.search-invoice input {
    border-radius: 20px;
    padding: 6px 10px 6px 15px;
    border: 1px solid gainsboro;
    width: 23%;
    background-color: #f1f1f1;
}

.search-invoice input::placeholder {
    color: black;
    font-size: 13px;
    font-weight: 400;
}

.search-invoice select {
    border-radius: 20px;
    padding: 6px 15px 6px 15px;
    border: 1px solid gainsboro;
    width: 23%;
    background-color: #f1f1f1;
}

.search-invoice select option {
    color: black;
    font-size: 13px;
    font-weight: 400;
}

.search-invoice a {
    border-radius: 20px;
    padding: 6px 10px 6px 15px;
    border: 1px solid gainsboro;
    width: 18%;
    color: white;
    background-color: #059bd4;
    text-align: center;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}








/* chat page css start */


@font-face {
    font-family: FontsFree-Net-Circular-Std-Book;
    src: url(../font/FontsFree-Net-Circular-Std-Book.ttf);
}

.chat-integrate {
    overflow-x: hidden;
    border-top: 1px solid #dcdde0;
}
.for-main-border {
    border-bottom: 1px solid #dcdde0;
}

.contact-tab {
    padding: 20px 0px 0px 0px;
}

.contact-tab ul#myTab {
    justify-content: center;
    border: none;
    display: flex;
    gap: 50px;
}

.contact-tab .nav-tabs .nav-link.active {
    border-bottom: 2px solid #1d88f6;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 8px;
    color: #1d88f6;
    font-weight: 600;
}
.icon-info {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 35px;
    margin-right: 30px;
}
.contact-tab .nav-tabs .nav-link {
    color: #82878c;
    font-size: 17px;
    font-family: FontsFree-Net-Circular-Std-Book;
    width: 100%;
}
.bell-img {
    position: relative;
    z-index: 0;
}

.bell-img span {
    position: absolute;
    z-index: 1;
    background-color: red;
    width: 7px;
    height: 7px;
    border-radius: 60px;
}
.main-client-details .search-container {
    position: relative;
    border-bottom: 1px solid #dcdde0;
    padding-left: 20px;
}

.main-client-details .search-input {
    height: 70px;
    /* border-radius: 30px; */
    padding-left: 45px;
    border: none;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.main-client-details .search-icon {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    color: #888;
}
.main-client-details .form-control:focus {
    border: none;
    box-shadow: none;
    outline: none;
}
.main-client-details h3 {
    font-size: 17px;
    color: #2f3c40;
    padding: 27px 40px;
    /* border-bottom: 1px solid #dcdde0; */
    font-family: FontsFree-Net-Circular-Std-Book;
    font-weight: 500;
    margin: 0;
}
.main-client-details ul#myTab1 {flex-direction: column;gap: 0px;}

.client-info-detail {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 20px;
}

.client-content {
    text-align: start;
}

.client-content h4 {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    font-family: FontsFree-Net-Circular-Std-Book;
}

.client-content p {
    font-size: 15px;
    color: gray;
    font-weight: 100;
    font-family: FontsFree-Net-Circular-Std-Book;
    margin: 0;
}

.client-profile {
    position: relative;
    z-index: 0;
}

.client-profile span {
    position: absolute;
    z-index: 1;
    background-color: white;
    font-size: 30px;
    border-radius: 60px;
    height: 13px;
    width: 13px;
    bottom: 3px;
    right: 0;
}

.client-profile span:before {
    content: '';
    height: 7px;
    width: 7px;
    background-color: #0dd754;
    position: absolute;
    z-index: 1;
    border-radius: 60px;
    bottom: 3px;
    right: 3px;
}
.main-client-details .nav-tabs .nav-link.active {
    border-bottom: 1px solid #dcdde0;
    border-top: 1px solid #dcdde0;
    padding-top: 20px;
}
.main-client-details .nav-tabs .nav-link {
    border-bottom: 1px solid #dcdde0;
    padding-bottom: 20px;
    padding-top: 20px;
}
.main-client-details .contact-tab {
    padding: 0px;
}

.single-client-full-detail {
    display: flex;
}
.client-brief {
    width: 68%;
}
.single-client {
    width: 30%;
}
.single-client .client-info-detail {
    display: block;
    text-align: center;
    margin: 0;
}

.single-client .client-profile {display: inline-flex;}

.single-client .client-content {
    text-align: center;
    margin-top: 20px;
}

.single-client .client-profile img {width: 100px;}

.single-client .client-profile span {
    background-image: url(../images/add-icon.png);
    width: 30%;
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
}
.single-client .client-profile span:before {
    background: none;
}
.for-cross {
    text-align: end;
    padding: 20px 45px 20px 0px;
}

.for-cross img {
    width: 4%;
}
.client-brief {
    background-color: #f8f9fd;
}

.chat-person {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dcdde0;
    padding: 23px 30px;
    align-items: center;
}

.chat-person h4 {
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    font-family: FontsFree-Net-Circular-Std-Book;
}
.main-chat-message {
    display: flex;
    gap: 20px;
    padding: 20px 30px;
    width: 80%;
}

.message-line p {
    margin: 0;
    font-size: 15px;
        font-family: FontsFree-Net-Circular-Std-Book;
}

.message-line {
    background-color: white;
    padding: 10px 20px;
    border-radius: 13px;
    margin-bottom: 5px;
}

.message-time span {
    font-size: 13px;
    color: gray;
        font-family: FontsFree-Net-Circular-Std-Book;
}
.main-chat-message.for-reply {
    justify-content: end;
    margin-left: auto;
}
.message-img {
    width: 5%;
}

.message-content {
    width: fit-content;
}
.for-reply .message-line {
    background-color: #1d88f6;
}

.for-reply .message-line p {
    color: white;
}
.for-sending {
    width: 100%;
    padding: 20px 30px;
    border-top: 1px solid #dcdde0;
}

.for-sending input {
    width: 80%;
    border: none;
    background: transparent;
    padding-left: 10px;
}

.for-sending a {padding: 0px 10px;}
.for-sending button {
    border: none;
    background: transparent;
}


ul#myTab2 {
    justify-content: center;
    border: 1px solid #dcdde0;
    border-radius: 30px;
    width: 75%;
    margin: auto;
    padding: 4px 0px;
    margin-top: 60px;
}

.new-setting-tab .nav-link.active {
    background-color: #1d88f6 !important;
    padding: 10px 50px !important;
    border-radius: 50px;
    color: white !important;
    font-weight: 200 !important;
    border: none;
}
.new-setting-tab h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 16px;
    font-family: FontsFree-Net-Circular-Std-Book;
    color: #2f3c40;
}

.new-setting-tab {
    padding: 0px 40px;
}
.for-files {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}

.for-files h5 {
    font-size: 16px;
    color: gray;
    font-weight: 400;
    font-family: FontsFree-Net-Circular-Std-Book;
}

.new-setting-tab a {
    text-decoration: none;
}

.upload-photos {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
input:focus-visible {
    outline-offset: unset;
    outline:0;
}







/* chat page css start */











/* payment-detail css start */

.payment-detail {
    padding: 50px 70px;
    margin: 50px;
    background-color: white;
    border-radius: 30px;
}

.payment-detail-info h4 {
    font-size: 16px;
    margin-top: 15px;
    color: #000000;
    font-weight: 400;
}

.payment-detail-info h2 {
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.payment-detail-info form label {
    color: black;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;
}

.payment-detail-info form .form-control {
    border-radius: 20px;
    height: 35px;
}

.payment-detail-info form #textarea {
    height: unset !important;   
}
.main-payment-heading {
    display: flex;
    gap: 4px;
    align-items: center;
}

.main-payment-heading h6 {color: black;font-weight: 500;font-size: 12px;margin: 0;}

.payment-detail span {
    color: red;
}
.payment-form-fill .form-group {
    width: 100%;
}
.payment-form-fill {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.for-check-payment {
    margin-bottom: -10px;
    margin-top: 23px;
}

.for-check-payment input#checkDefault {
    border: 1px solid black;
    border-radius: 0;
    font-size: 14px;
}
.for-check-payment label.form-check-label {
    margin-bottom: 0px;
}

.for-check-payment .form-check {
    display: flex;
    gap: 7px;
    align-items: center;
}
.for-service-check {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.for-service-check p {
    color: gray;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.payment-form-fill button {
    width: 100%;
    background-color: #01abea;
    color: white;
    height: 40px;
    margin-top: 26px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    letter-spacing: 3px;
}
.form-group.new-service-form {
    width: 49% !important;
}
/* payment-detail css end */



/*side-menu-css start*/
.for-slider-main-banner {
    width: 100%;
    margin-left: 327px;
    transition: all ease 1s;
}
.side-menu .search-container {
    position: relative;
    border-bottom: 1px solid #dcdde0;
    padding-left: 20px;
}

.side-menu .search-input {
    height: 70px;
    border-radius: 30px;
    padding-left: 45px;
    border: none;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.side-menu .form-control:focus {
    border: none;
    box-shadow: none;
    outline: none;
}
.side-menu .search-icon {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    color: #888;
}
.main-side-menu {
    display: flex;
    /* gap: 40px; */
    overflow: hidden;
}

.side-menu {
    width: 17%;
    background-color: white;
    border-top: 1px solid #dcdde0;
    height: 100vh;
    transition: all ease 0.5s;
    border-right: 1px solid #dcdde0;
    position: fixed;
    top: 89px;
}
.side-menu ul {
    list-style: none;
    padding: 20px;
}

.side-menu ul li a {padding: 12px 15px;width: 100%;display: flex;align-items: center;color: black;font-family: 'Funnel Sans';font-size: 17px;font-weight: 500; text-decoration: none !important;}
.side-menu ul li a.active {
    background-color: #e7ebee;
    border-radius: 5px;
}
.side-menu ul li a:hover {
    background-color: #e7ebee;
    border-radius: 5px;
}
.open-side-menu i {
    font-size: 25px;
    margin-left: 20px;
    color: #8c8f91;
    cursor: pointer;
}
.side-menu.active {
    width: 0;
    opacity: 0;
    transition: all ease 0.5s;
}

.side-menu.active .search-container {
    display: none;
}

.side-menu.active  ul {
    display: none;
}
.for-slider-main-banner.active {
    margin-left: 0;
    transition: all ease 1s;
}




@media (max-width:1440px) {
    .for-sending input {
    width: 70%;
}

ul#myTab2 {
    width: 104%;
}
   .for-slider-main-banner {
    margin-left: 221px;
}
}

/*side-menu-css end*/








